<a href="https://colab.research.google.com/github/BrianXian20/Data-analysis/blob/main/Week_3_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Analysis Y3- Week 3 Lab
# Ecommerce Purchases



*   In this lab you will be given some Fake Dataset about some purchases donethrough Amazon!  
*   Follow the instructions and try your best to answer the questions and complete the lab


*   This lab will be graded druing the lab hours, you will spend 1hr to 1.5hr to answer the qusetions, then we will go through and grade each student.

1. **Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom.**

In [ ]:
import pandas as pd

In [ ]:
ecom = pd.read_csv('Ecommerce_Purchases.csv')

2**. Check the head of the DataFrame.**

In [ ]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

**3. How many rows and columns are there?**

In [ ]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

**4. What is the average Purchase Price?**

In [ ]:
print("The average Purchase price")
ecom['Purchase Price'].mean()

The average Purchase price

50.347302

**`5. What were the highest and lowest purchase prices? `**

In [ ]:
print("The highest purchase price")
ecom['Purchase Price'].max()

The highest purchase price

99.99

In [ ]:
print("The lowest purchase price")
ecom['Purchase Price'].min()

The lowest purchase price

0.0

**6. How many people have English 'en' as their Language of choice on the website?**

In [ ]:
print("The number of people who have English 'en' as their Language choice")
ecom[ecom['Language']=='en'].count()

The number of people who have English 'en' as their Language choice

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

**7. How many people have the job title of "Lawyer" ?**

In [ ]:
print("The number of people that have the job title of lawyer")
ecom[ecom['Job']=='Lawyer'].info()

The number of people that have the job title of lawyer
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           30 non-null     object
 1   Lot               30 non-null     object
 2   AM or PM          30 non-null     object
 3   Browser Info      30 non-null     object
 4   Company           30 non-null     object
 5   Credit Card       30 non-null     int64
 6   CC Exp Date       30 non-null     object
 7   CC Security Code  30 non-null     int64
 8   CC Provider       30 non-null     object
 9   Email             30 non-null     object
 10  Job               30 non-null     object
 11  IP Address        30 non-null     object
 12  Language          30 non-null     object
 13  Purchase Price    30 non-null     float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

8. **How many people made the purchase during the AM and how many people made the purchase during PM ?**

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [ ]:
print("The AM and PM purchases")
ecom['AM or PM'].value_counts()

The AM and PM purchases

PM    5068
AM    4932
Name: AM or PM, dtype: int64

**9. What are the 5 most common Job Titles?**

In [ ]:
print("The 5 most common Job Titles")
ecom['Job'].value_counts().head(5)

The 5 most common Job Titles

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

**10. Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?**

In [ ]:
print("The Purchase Price for the lot 90 WT transaction")
ecom[ecom['Lot']== '90 WT']['Purchase Price']

The Purchase Price for the lot 90 WT transaction

513    75.1
Name: Purchase Price, dtype: float64

**11.What is the email of the person with the following Credit Card Number: 4926535242672853**

In [ ]:
print("The email of the person")
ecom[ecom['Credit Card']== 4926535242672853]['Email']

The email of the person

1234    bondellen@williams-garza.com
Name: Email, dtype: object

**12. How many people have American Express as their Credit Card Provider *and* made a purchase above $95?**

In [ ]:
print("The number of people that have an American Express and purchases above $95")
ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)].count()

The number of people that have an American Express and purchases above $95

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

**Make sure to submit your lab via Moodle**